@charset "utf-8";
/* CSS Document */

body {
	background-position:top;
	margin:0 auto;
	font-family: 'Open Sans';
}
.clear {
	clear:both;
}
/*------------ Start of head part ---------------*/
		
		 .page-head {
	position: fixed;
	z-index: 500;
	width: 100%;
}
.phone-number {
	color: #FEFEFE;
	font-size: 12px;
	margin-bottom: 0px;
	text-decoration: none;
	margin-top: 15px;
}
.head-bg {
	background-image: url(images/head-bg.png);
	background-repeat: repeat;
	padding: 6px 15px;
}
.join-text a {
	color: #ff0202;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	padding-left: 15px;
	padding-right: 15px;
}
.join-text a:hover {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	padding-left: 15px;
	padding-right: 15px;
}
/*------------ Start of menu bar nevigation ---------------*/
  
  .menu-area {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.navbar {
	font-family: 'Open Sans';
	font-weight: 500;
	font-size: 18px;
	padding:0px;
	margin-bottom:0px;
	border-radius:0px;
	background: -webkit-linear-gradient(#ff0202, #800000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ff0202, #800000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ff0202, #800000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ff0202, #800000); /* Standard syntax (must be last) */
	margin-bottom:0px;
	min-height: 40px;
}
.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}
.navbar-inverse .navbar-brand {
	font-family: 'Open Sans';
	color: #fff;
	font-weight: bolder;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 2px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: EA1C1C;
}
.navbar-inverse .navbar-nav > li > a {
	font-family: 'Open Sans';
	color: #fff;
	padding: 6px 24px;
	font-weight: normal;
	font-size: 15px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #272727;
}
.navbar-inverse .navbar-toggle {
	border-color: #333;
	background-color: #549cbc;
	border:1px solid #376d88;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.mtop {
	margin-top: 2px;
	color: #fff;
}
.pl-right-text {
	float:right;
}
 @media screen and (max-width: 768px) {
 .pl-right-text {
 float:left;
}
 .mtop {
 display:none !important;
}
}
 @media screen and (max-width: 1303px) {
.navbar-inverse .navbar-nav > li > a {
 color: #ffffff;
 padding: 0px 21px;
 margin: 13px 0px;
 font-size: 16px;
}
.mtop {
 margin-top: 8px;
 color: #FFF;
}
}
@media screen and (max-width: 1260px) {
.navbar-inverse .navbar-nav > li > a {
 color: #ffffff;
 padding: 0px 13px;
 margin: 13px 0px;
 font-size: 16px;
}
}
 @media screen and (max-width: 1100px) {
.navbar-inverse .navbar-nav > li > a {
 color: #ffffff;
 padding: 0px 9px;
 margin: 13px 0px;
 font-size: 15px;
}
}
@media screen and (max-width: 822px) {
.navbar-inverse .navbar-nav > li > a {
 color: #ffffff;
 padding: 0px 6px;
 margin: 13px 0px;
 font-size: 15px;
}
}
/*------------ Start of main  body part ---------------*/

.main-body-area {
	background-image:url(images/main-body-bg.png);
	background-repeat:repeat;
	padding-top:15px;
	padding-bottom:15px;
}
.scroll-text-area {
	background-color:#0a0b0c;
	color:#fff;
	border:solid 2px #ff1010;
	border-radius:5px;
	height:36px;
}
.rdc-padding {
	padding-left:0px;
	padding-right:0px;
	
}
.arrow-right {
	vertical-align: super;
	float: left;
	height: 0px;
	border-top: 0px solid transparent;
	border-bottom: 32px solid rgba(196, 57, 57, 0);
	border-right: 70px solid #000;
	border-left: 0px solid transparent;
	background-color: #EE0202;
	padding-left: 0px;
	padding-right: 0px;
	text-align:center;
	position: absolute;
	z-index:1;
}
.scr-pd-left {
	margin-left: 260px;
	padding-top: 6px;
	font-size:12px;
}
.mrg-top-20 {
	margin-top:20px;
}
.result-area {
}
.result-area .header {
	background: -webkit-linear-gradient(#ff0202, #800000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ff0202, #800000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ff0202, #800000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ff0202, #800000); /* Standard syntax (must be last) */
	padding:4px;
	color:#fff;
	border:solid 2px #8f2314;
	border-radius: 5px 5px 0px 0px;
	font-size: 16px;
	text-align: center;
}
.full-width {
	width:100%;
}
.result-area .text-box {
	background-color:#fff;
	padding:7px 12px;
	border-radius: 0px 0px 5px 5px;
}
.result-area .text-box p {
	color:#999a9b;
	font-size: 14px;
	font-weight: 500;
}
.stra-img {
	width:30px;
	height:30px;
	float:left;
	margin-left:3px
}
.btm-line {
	background-color:#d3d4d5;
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	height:1px;
}
.online-service-area {
	background-color:#fff;
	margin-top:20px;
	padding:15px;
	border-radius: 5px 5px 0px 0px;
}
.online-service-area .content-box {
}
.online-service-area .content-box .tl-header {
	background: -webkit-linear-gradient(#ff0202, #800000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ff0202, #800000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ff0202, #800000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ff0202, #800000); /* Standard syntax (must be last) */
	padding:15px;
	color:#fff;
	border:solid 2px #8f2314;
	border-radius: 5px 5px 0px 0px;
	font-size: 22px;
	text-align: center;
}
.online-service-area .content-box .blk-text-box {
	background: -o-linear-gradient(#191a1a, #383a3a); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#191a1a, #383a3a); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#191a1a, #383a3a); /* Standard syntax (must be last) */
	padding:15px 12px;
	border-radius: 0px 0px 5px 5px;
	height:150px;
}
.result-area .text-box p {
	color:#000;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
}
.bold-text {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}
.whit-text {
	color:#fff;
	font-size:14px;
	text-decoration: none;
}
.mrg-top-5 {
	margin-top:5px;
}
.footer-btm {
	background-color:#fff;
	padding:5px;
	border-radius: 0px 0px 5px 5px;
}
.ft-black-area {
	background-color:#010101;
	padding-top:40px;
	padding-bottom:40px;
}
.secure-p {
	color:#e73636;
	font-size:13px;
	text-decoration:none;
}
.pd-right {
	padding-right:10px;
}
.term-text {
	color: #ff0202;
	text-decoration: none;
}
.term-text ul {
	margin:0 auto;
}
.term-text ul li {
	display:inline;
}
.term-text ul li a {
	font-size: 14px;
	color: #ff0202;
	text-decoration: none;
	padding: 0px 8px;
}
.term-text ul li a:hover {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.menu-padding {
	padding-top:170px;
}
 @media screen and (max-width: 768px) {
 .menu-padding {
 padding-top: 320px;
}
.scr-pd-left {
 margin-left: 136px;
 padding-top: 12px;
}
 .scroll-text-area {
 background-color: #0A0B0C;
 color: #FFF;
 border: 2px solid #FF1010;
 border-radius: 5px;
 height: 74px;
 overflow-y: scroll;
 width: 100%;
}
}
@media screen and (max-width: 991px) {
.online-service-area .content-box .blk-text-box {
 background: transparent linear-gradient(#191A1A, #383A3A) repeat scroll 0% 0%;
 padding: 15px 12px;
 border-radius: 0px 0px 5px 5px;
 min-height: 150px;
 height: auto;
}
}
/** for about us area*/

.inner-header-area {
	font-size: 30px;
	background-color: #0a0b0c;
	color: #fff;
	border: solid 2px #ff1010;
	border-radius: 5px;
	padding: 7px 15px;
}
.text-atag a {
	text-decoration: none;
	font-size: 24px;
	color: #F10202;
}
.text-atag a:hover {
	text-decoration: none;
	font-size: 24px;
	color: #FFF;
}
.abt-bg-area {
	background-color: #fff;
	padding: 15px;
	border-radius: 5px;
}
.image-space {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 2px;
	margin-top:5px;
	cursor:pointer;
}
/*------------ Start of Member Registration ---------------*/
.member_area {
	border:4px solid red;
	border-radius:10px;
	background-color:#fff;
	padding:10px 10px 20px 10px;
	margin-bottom:30px;
}
.member_area h2 {
    font-size: 21px;
    color: #F00;
    margin-bottom: 15px;
}
.subbtn {
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 25px;
	padding:10px 20px;
	background: transparent linear-gradient(#FF0202, #800000) repeat scroll 0% 0%;
	margin-bottom: 0px;
	border-radius:10px;
	text-transform:uppercase;
	color:#fff;
}
.subbtn:hover {
	color:#ff8f08;
}
/*------------ Start of Member Login Page ---------------*/
/*------------ Start of purchase_lottery Page ---------------*/
.purchase_lottery {
	border:4px solid red;
	border-radius:10px;
	background-color:#fff;
	padding:10px 10px 20px 10px;
	margin-bottom:30px;
	background:url(images/bg.png);
}
.purchase_lottery h2 {
	font-size:25px;
	color:#fff;
	margin-bottom:30px;
}
.lottery {
	font-size:20px;
	color:#fff;
	margin-top:5px;
}
/** for  new lottery area*/
.ltry-background{
 background: -webkit-linear-gradient(#ff0202,#800000); / For Safari 5.1 to 6.0 /
    background: -o-linear-gradient(#ff0202,#800000); / For Opera 11.1 to 12.0 /
    background: -moz-linear-gradient(#ff0202,#800000); / For Firefox 3.6 to 15 /
    background: linear-gradient(#ff0202,#800000); / Standard syntax (must be last) /
 margin-bottom:0px;
  padding: 50px 10px;
  border:solid 1px #fff;}
  
  .pd5{
   padding-left:5px;
   padding-right:5px;}
   
  .bg-brd-none{background:none; border:none;}
  
  
/*  .add-more-btn{background: -webkit-linear-gradient(#ff0202,#800000); / For Safari 5.1 to 6.0 /
    background: -o-linear-gradient(#ff0202,#800000); / For Opera 11.1 to 12.0 /
    background: -moz-linear-gradient(#ff0202,#800000); / For Firefox 3.6 to 15 /
    background: linear-gradient(#ff0202,#800000); / Standard syntax (must be last) /
 margin-bottom:0px;
  padding: 7px 25px;
  border:solid 1px #AF1F1F;
  color:#fff;}
   .add-more-btn:hover{background: -webkit-linear-gradient(#800000 , #ff0202); / For Safari 5.1 to 6.0 /
    background: -o-linear-gradient(#800000 , #ff0202); / For Opera 11.1 to 12.0 /
    background: -moz-linear-gradient(#800000 , #ff0202); / For Firefox 3.6 to 15 /
    background: linear-gradient(#800000 , #ff0202); / Standard syntax (must be last) /
 margin-bottom:0px;
  padding: 7px 25px;
  border:solid 1px #AF1F1F;
  color:#fff;}*/
 .add-more-btn{background: -webkit-linear-gradient(#ff0202,#800000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0202,#800000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0202,#800000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0202,#800000); /* Standard syntax (must be last) */
 margin-bottom:0px;
  padding: 7px 25px;
  border:solid 1px #AF1F1F;
  color:#fff;}
   .add-more-btn:hover{background: -webkit-linear-gradient(#800000 , #ff0202); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#800000 , #ff0202); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#800000 , #ff0202); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#800000 , #ff0202); /* Standard syntax (must be last) */
 margin-bottom:0px;
  padding: 7px 25px;
  border:solid 1px #AF1F1F;
  color:#fff;} 
  
  .cod-genret{
   background-color:#C9DEF8;}
   /*================================*/
   /** for result page*/
   
  
   
   .result-bg-area {
  border: 4px solid red;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 10px 20px 10px;
  margin-bottom: 30px;
  background-color:#fff;
   }
  
  
    .result-bg-area  h2{font-size: 30px;
  color:#FA2020;
  margin-bottom: 30px;}
  
  .result-shwn-text{ 
   color: #333333;
  font-size: 20px;
  margin: 0px;
  text-decoration: none;
  font-weight: normal;}
  
  .pd-frm-botom{
   margin-bottom:5px;
  }
  /*============= Star ===========================================*/
  .stra-img-2{
width: 38px;
height: 40px;
float: left;
margin-left: 3px;
background-image: url(images/redstar-img.png);
background-repeat: no-repeat;
text-align: center;
color: #0A0B0C;
padding-top: 4px;
font-weight: 700;
background-size: 40px 40px;
font-size: 20px;}
    /*============= Star ===========================================*/

  /** for game page css part*/

.game-page-area{border: 4px solid red;
    background-color: #1A1B1F;
    padding: 0px;
    margin-bottom: 15px;}
 
 .side-bord-area{padding: 5px;}
 
 .side-box{
 background: -o-linear-gradient(#191a1a, #383a3a);
    background: -moz-linear-gradient(#191a1a, #383a3a);
    background: linear-gradient(#191a1a, #383a3a);
    padding: 15px 12px;
    border-radius:3px;
 border: solid 1px #524E4E;
 margin-top:10px;
 margin-bottom:10px;
 font-size: 12px;
 }
 
 .side-box p{
  color:#fff;
  font-size:14px;
  }
  
 .side-box  table tr td{border-top: 0px;
 color:#D4D4D4;}
 
 .dotted-border{
      border-top: 1px dotted #AAAFAF;
   width:100%;}
   
.game-more-btn{background: -webkit-linear-gradient(#ff0202,#800000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ff0202,#800000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ff0202,#800000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ff0202,#800000); /* Standard syntax (must be last) */
    margin-bottom:0px;
    padding: 6px 20px;
    border:solid 1px #AF1F1F;
   color:#fff;}

   .game-more-btn:hover{background: -webkit-linear-gradient( #800000 , #ff0202); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#800000 , #ff0202); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#800000 , #ff0202); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#800000 , #ff0202); /* Standard syntax (must be last) */
	 margin-bottom:0px;	
	  color:#fff;}
   
   .pasar_ganti1 a{  
 font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #A2AFA2;
}
.pasar_ganti1 a:hover{
 
 color:#F1151C;
}
.dashbord-btn{width: 100%;
    border: solid 1px #DEDEDE;
	color:#fff;
	margin-top:5px;
	margin-bottom:5px;
	background: -webkit-linear-gradient(#45484d,#000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#45484d,#000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#45484d,#000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#45484d,#000000); /* Standard syntax (must be last)*/
}
.dashbord-btn:hover{   
	color:#fff;	
	background: -webkit-linear-gradient(#000000,#45484d);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000,#45484d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000,#45484d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000,#45484d); /* Standard syntax (must be last) */
}

 .information-page-area{
  background:#E4E6E6;
 /* min-height: 825px; */
  height:auto;
 }
  
 .information-page-area .header{padding: 10px 4px 10px 4px;
    background-color: #CCCCCC;
    border-bottom: 2px double #666666;} 
 
/* .btn-red{border: 1px solid #DC0101;
 margin-top:5px;
     border-radius: 2px;
    font-size: 12px;  
    padding:6px;
    text-decoration: none;
    display: inline-block;    
    color: #FFFFFF;   
   background: -webkit-linear-gradient(#ff0202,#800000); / For Safari 5.1 to 6.0 /
    background: -o-linear-gradient(#ff0202,#800000); / For Opera 11.1 to 12.0 /
    background: -moz-linear-gradient(#ff0202,#800000); / For Firefox 3.6 to 15 /
    background: linear-gradient(#ff0202,#800000); / Standard syntax (must be last) /
    }*/
.btn-red{
	border: 1px solid #DC0101;
	margin-top:5px;
	 border-radius: 2px;
	font-size: 12px;  
	padding:6px;
	text-decoration: none;
	display: inline-block;    
	color: #FFFFFF;   
	background: -webkit-linear-gradient(#ff0202,#800000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ff0202,#800000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ff0202,#800000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ff0202,#800000); /* Standard syntax (must be last) */
}
 
 .game-body{  
  border:solid 1px#000;
  padding-bottom:15px;
     margin-bottom: 15px;} 
  
 .game-body h1{background-color: #1A1B1F;
    color: #fff;
    font-size: 24px;
    padding: 15px;
 margin:0;}
 .alternative-area{
  background-color:#000;
  padding:10px;}
  
 .game-body p{font-size: 16px;
    color: #CF0101;
    margin-top: 10px;} 
 
 .input-width{
    width: 55px;
    float: left;
    margin-right: 5px;
    padding: 0px;
    font-size: 12px;
	text-align: center;
	}

	.input-width4d{
    width: 40px;
    float: left;
    margin-right: 5px;
    padding: 0px;
    font-size: 12px;
	text-align: center;
	}
	
	/** for plug jitu page css*/ 
   
  .country-input-width{
    width: 100px;
    float: left;
    margin-right: 5px;
    padding: 0px;
    font-size: 12px;}
 
 /** for basic-page css*/
 
 .even-header{background-color: #4D4E4E;
    font-size: 15px;
    color: #fff;
    padding: 5px;
	}
	
	/** for shio page css*/
	.shio_tabel {
    padding: 6px;
    font-size: 14px;
    background: #1A1B1F;
    color: #E4E6E6;
}

.sh {
   padding: 4px 3px;
    font-size: 12px;
}
	
.profileForm 
{
	padding: 30px 15px;
    border: solid 1px #E10101;
    border-radius: 3px;
}
.online_text {
    color: #43d117!important;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-bottom:5px;
}
.offline_text {
    color: #FF0000!important;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-bottom:5px;
}
/****************************   Memo Part Start *******************************/
.btn_lightblue2{
 border: solid 1px #DEDEDE; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; 
  padding: 4px 15px 4px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 	background: -webkit-linear-gradient(#45484d,#000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#45484d,#000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#45484d,#000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#45484d,#000000); /* Standard syntax (must be last)*/
 margin:10px 5px;
 
}

.btn_lightblue2:hover{

 	color:#fff;	
	background: -webkit-linear-gradient(#000000,#45484d);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000,#45484d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000,#45484d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000,#45484d); /* Standard syntax (must be last) */
}


.btn_mini_red {
    border: 1px solid  #B09595;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 4px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);
    font-weight: normal;
    color: #FFF;
    background-color: #F62B2B;
    background-image: linear-gradient(to bottom, #F62B2B, #D20202);
}


.btn_mini_red:hover {
    border: 1px solid #B30808;
    background-color: #E40A0A;
    background-image: linear-gradient(to bottom, #E40A0A, #9F0202);
}

.msg_reply_text{
color: #121217 !important;
border-bottom: dotted 2px #4A4848;
padding-bottom: 10px;
}
	
/**************** *************  Memo Part End **************************************** /	
 /***** for main game page css part//////***/

.game-panel-area{
	padding:10px;}

  .game-tab li> a{color: #E4E6E6;
    cursor: default;
    background-color: #E20202;
    border: 1px solid #E20202;
    border-bottom-color: transparent;
    padding: 9px 20px;
	margin-top:5px;	}

  .game-tab li> a:hover{
	color: #E4E6E6 !important;   
    background-color: #1D1D22 !important;
    border:1px solid #0A0B0C;
    }	
	
	.game-tab>li.active>a, .game-tab>li.active>a:focus, .game-tab>li.active>a:hover{ color: #E4E6E6 !important;
    cursor: default;
    background-color: #1D1D22 !important;
    border:1px solid #0A0B0C;
    border-bottom-color: transparent;
    padding: 9px 20px;}
	
	.brd-btm {
    border:solid 1px #4A4A4A;
    border-top: 0px;
    padding:30px 15px;
    margin-bottom: 25px;
}
	
	
	 .game-body .game-panel-area h2{font-size: 16px;
    color:#DA0202;
    margin:10px 0px;}
	
	 .game-body .game-panel-area p{font-size: 15px;
    color: #191A1F;
    margin-top:3px;
    margin-bottom: 3px;}
	
	.game-table-head{background-color:#E70202;color:#fff;}
	.game-dashbrd-table{ font-size:15px; margin-top: 15px; margin-bottom: 15px;}
	
	.game-panel-area table.table.game-dashbrd-table tbody tr:first-child {
    background-color:red;
    color:#fff;
}

.game-panel-area table.table.game-dashbrd-table tbody tr:last-child {
    background-color: #000;
    color: #fff;
}


.new-term-text {
	color: #ff0202;
	text-decoration: none;
}
.new-term-text {
	margin:0 auto;
}
.new-term-text ul li {
	display:inline;
}
.new-term-text ul li a {
	font-size: 14px;
	color: #ff0202;
	text-decoration: none;
	padding: 0px 8px;
}
.new-term-text ul li a:hover {
	font-size: 14px;
	color:#1D1D22;
	text-decoration: none;
}



.btn_lightblue2{
 border: solid 1px #DEDEDE; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; 
  padding: 4px 15px 4px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 	background: -webkit-linear-gradient(#45484d,#000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#45484d,#000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#45484d,#000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#45484d,#000000); /* Standard syntax (must be last)*/
 margin:10px 5px;
 
}

.btn_lightblue2:hover{

 	color:#fff;	
	background: -webkit-linear-gradient(#000000,#45484d);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000,#45484d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000,#45484d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000,#45484d); /* Standard syntax (must be last) */
}


.btn_mini_red {
    border: 1px solid  #B09595;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 4px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);
    font-weight: normal;
    color: #FFF;
    background-color: #F62B2B;
    background-image: linear-gradient(to bottom, #F62B2B, #D20202);
}


.btn_mini_red:hover {
    border: 1px solid #B30808;
    background-color: #E40A0A;
    background-image: linear-gradient(to bottom, #E40A0A, #9F0202);
}
 /** for data-number-output  page css */

.data-number-table {
margin-top: 15px;
margin-bottom: 15px;
color: #0A0A0A;
font-size: 14px;
}


.data-number-table  thead tr:first-child {
background-color: red;
background: -webkit-linear-gradient(#ff0202,#800000); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#ff0202,#800000); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#ff0202,#800000); /* For Firefox 3.6 to 15 */
background: linear-gradient(#ff0202,#800000); /* Standard syntax (must be last) */
color: #fff;
font-weight: 700;
font-size: 15px;
}


.data-number-table tr  th{
border: 1px solid #A09A9A !important;
}
.data-number-table tr  td {
border: 1px solid #A09A9A !important;
}
.btn_green {
    background-color: #4ba614;
    background-image: linear-gradient(to bottom, #4ba614, #008c00);
    border: 1px solid #34740e;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.btn_red {
    background-color: #f62b2b;
    background-image: linear-gradient(to bottom, #f62b2b, #d20202);
    border: 1px solid #df0909;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}


.social-part{padding: 10px 0px;}
  .social-part span{float: left; margin-right: 10px;}
  .social-part p b{color: #FF0202;  font-weight: 600;  font-size: 16px;  padding-top: 5px; display: block;}
 .social-part p {color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;}
	
	/********************************* custom added ***********************/
.carousel-inner {
    height: 350px;
}

.join-now-div{
	position: fixed;
	top: 300px;
	left:0px;
	
}
.input-btn{
	background: transparent;
	border:0;
	font-size: 14px;
	color: #ff0202;
	font-weight:600;
}
.margin50{
	margin:50px 0 20px;
}
.red-box{
	border: 4px solid #ff0202;
	min-height:300px;
	padding:10px 15px;
}

.red-box p.heading{
	color: #ff0202;
	font-size:15px;
	font-weight:600;
	
}

input:-moz-read-only { /* For Firefox */
    background-color: #333333 !important;
	color: #ff0000 !important;
}

input:read-only {
    background-color: #333333 !important;
	color: #ff0000 !important;
}
.form-control[readonly]{
    background-color: #333333 !important;
	color: #FFF !important;
}
.arrow-right p{
	margin-top: 6px !important;
}
.red-box ul
{
    padding:0px;
    margin:0px;
    list-style:none;
	width: 100%;
}
.red-box p{
	color: #fff;
}

.red-box p .bName{
	color: #fff;
}

.red-box p .bAmmount{
	color: #FF0000;
	font-weight: bold;
	float: right;
}

.input-box1{
	width:140px;
	
}
.input-box2{
	width:45px;
}
.input-width4d{
	font-weight: 600;
}
.checkBetAmount{
	font-weight: 600;
}
@media screen and (min-width:992px){
	.container-b {
		width: 1000px;
	}
}
@media screen and (max-width:480px){
	.join-now-div{
		display: none;
	}
}
input[type="button"]{
	color: #fff !important;
}

input[type="submit"]{
	color: #fff !important;
}

.tab-content  .tab-pane {
    display: none;
}
.tab-content  .active {
    display: block;
}

#member-form .form-control {
    height: 27px;
    font-size: 14px;
	padding: 0 10px;
}
.form-horizontal .form-group:nth-child(odd) {
	background: #F2f2f2;
	padding: 3px 0;
}